{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Lieu{% endblock %}

{% block body %}

    <h1 class="container-fluid d-flex justify-content-center">Gestion des lieux</h1>

    <section class="container list">
        <table class="table table-hover" >
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Rue</th>
                <th scope="col">Ville</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for lieu in lieux %}
                <tr>
                    <th scope="row"><a class="list-group-item list-group-item-action" href="{{ path('lieu_show', {'id': lieu.id}) }}">{{ lieu.nom }}</a></th>
                    <td><a class="list-group-item list-group-item-action" href="{{ path('lieu_show', {'id': lieu.id}) }}">{{ lieu.rue }}</a></td>
                    <td><a class="list-group-item list-group-item-action" href="{{ path('lieu_show', {'id': lieu.id}) }}">{{ lieu.ville.name }}</a></td>
                    <td><a class="list-group-item list-group-item-action" href="{{ path('lieu_show', {'id': lieu.id}) }}">{{ lieu.latitude }}</a></td>
                    <td><a class="list-group-item list-group-item-action" href="{{ path('lieu_show', {'id': lieu.id}) }}">{{ lieu.longitude }}</a></td>
                    {#                    <td><a class="list-group-item list-group-item-action" href="{{ path('user_show', {'id': user.id}) }}">{{ lieu.longitude }}</a></td>#}
                    <td><a  href="{{ path('lieu_update', {'id': lieu.id})  }}"> Modifier </a> -
                        <a class="text-danger" href="{{ path('lieu_delete', {'id': lieu.id}) }}" onclick="return confirm('Etes vous sûre de vouloir supprimer le lieu {{ lieu.nom }}')"> Supprimer </a></td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    </section>
    <div class="container-fluid d-flex justify-content-center">
        <a class="link_button btn btn-outline-success" href="{{ path('lieu_create') }}" role="button">Créer un lieu</a>
        <a class="link_button btn btn-outline-warning " href="{{ path('admin_dash') }}" role="button">Retour</a>

    </div>
{% endblock %}
