{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}


    {% if app.user %}
        <br>
        <div class="card" style="width: 18rem; margin-left: 4vh">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text"> <strong>Date du jour :  </strong>{{ 'now' | date('d/m/Y', 'Europe/Paris') }}</p>
                </li>
                <li class="list-group-item">
                    <p class="card-text"> <strong>Participant :  </strong>{{ app.user.username }}</p>
                </li>
            </ul>
        </div>



        {{ form_start(sortieForm) }}
        <div class="container-fluid d-flex justify-content-center">
            <div class="card" style="margin: 4vh; padding-bottom: 2vh; padding-top: 2vh; width: 76vw;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container d-flex">
                            {{ form_label(sortieForm.campus) }}
                            {{ form_widget(sortieForm.campus,{'attr': {'class': 'form-control form-control-modif'}}) }}

                            {{ form_label(sortieForm.name) }}
                            {{ form_widget(sortieForm.name,{'attr': {'class': 'form-control form-control-modif'}}) }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container d-flex">

                            {{ form_label(sortieForm.dateUn) }}
                            {{ form_widget(sortieForm.dateUn,{'attr': {'class': 'form-control form-control-modif'}}) }}

                            {{ form_label(sortieForm.dateDeux) }}
                            {{ form_widget(sortieForm.dateDeux,{'attr': {'class': 'form-control form-control-modif'}}) }}
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="container d-flex flex-column">

                            {{ form_label(sortieForm.scales) }}
                            {{ form_widget(sortieForm.scales) }}

                            {{ form_label(sortieForm.horns) }}
                            {{ form_widget(sortieForm.horns) }}

                            {{ form_label(sortieForm.horns_not_registered) }}
                            {{ form_widget(sortieForm.horns_not_registered) }}

                            {{ form_label(sortieForm.past_outings) }}
                            {{ form_widget(sortieForm.past_outings) }}

                            {{ form_row(sortieForm.userId) }}

                        </div>
                    </li>
                </ul>
                <div class="container-fluid d-flex show justify-content-center">

                    <input class="btn btn-lg btn-primary" type="submit" value="Rechercher" style="margin-top: 2vh;">
                </div>
            </div>
        </div>

        {{ form_end(sortieForm) }}
        <div class="container" id="map" style="border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        margin-bottom: 5vh;"></div>

        <div class="affichage sortie">
            <section class="container list">
                <table class="table table-hover" style="margin-bottom: 5vh; ">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Cloture</th>
                        <th scope="col">Inscrits / places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for sortie in sorties %}
                        <tr>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.name }}</td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.firstAirDate | date('d/m/y H:i') }}
                            </td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.dateLimiteInscription | date('d/m/y') }}
                            </td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.users | length }}
                                    / {{ sortie.nbInscriptionMax }}</td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.etat.libelle }}</td>
                            {% if app.user in sortie.users %}
                                <td><a class="list-group-item list-group-item-action"
                                       href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> ✅</td>
                            {% else %}
                                <td><a class="list-group-item list-group-item-action"
                                       href="{{ path('sortiev2_show', {'id': sortie.id}) }}"></td>
                            {% endif %}
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.user.username }}
                            </td>
                            <td>

                                {#                                {% if app.user == sortie.user or 'ROLE_ADMIN' in app.user.roles %} #}
                                {% if app.user == sortie.user %}
                                    {% if sortie.etat.id < 3 %}
                                        <a class="list-group-item-action"
                                           href="{{ path('sortie_update', {'id': sortie.id}) }}"> ⚙Modifier </a>
                                    {% endif %}
                                {% else %}
                                    {% if 'ROLE_ADMIN' in app.user.roles and sortie.etat.id < 3 %}
                                        <a class="list-group-item-action"
                                           href="{{ path('sortie_update', {'id': sortie.id}) }}"> ⚙Modifier </a>
                                    {% endif %}
                                    {% if app.user in sortie.users %}
                                        {% if sortie.dateLimiteInscription >= date() or sortie.firstAirDate >= date() %}
                                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                                <a> - </a>
                                            {% endif %}
                                            <a class=" list-group-item-action"
                                               href="{{ path('inscription_user', {'id': sortie.id}) }}"> Se
                                                désinscrire </a>
                                        {% endif %}
                                    {% else %}

                                        {% if sortie.etat.libelle == 'Ouverte' and sortie.dateLimiteInscription > date() and sortie.users | length < sortie.nbInscriptionMax %}
                                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                                <a> - </a>
                                            {% endif %}
                                            <a class=" list-group-item-action"
                                               href="{{ path('inscription_user', {'id': sortie.id}) }}"> S'inscrire </a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </section>

        </div>
        <div class="container-fluid d-flex justify-content-center">
            <a class="link_button btn btn-outline-success" href="{{ path('sortie_create') }}" role="button">Créer une
                sortie</a>
        </div>



    {% else %}
        <br>
        <div class="container d-flex justify-content-center">
        <div class="example-wrapper">
            <h2>Bienvenue aux sorties de l'ENI 2023 </h2>
            <br>
            <br>
            <br>
            <a class="link_button btn btn-outline-success d-flex justify-content-center" href="{{ path('app_login') }}" role="button">Connecte
                toi</a>
        </div>
        </div>


    {% endif %}
    <br>
    <br>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script>
        let map = L.map('map', {dragging: true}).setView([47.2, 2.333], 6);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        fetch("{{ path('api_sortie_retrieve_all') }}",
            {method: 'GET'})

            .then((response) => response.json())
            .then((data) => {
                data.forEach(function (element) {

                    marker = new L.marker([element.lieu.latitude, element.lieu.longitude], {

                        draggable: false,
                        dragging: false,
                        autoPan: true,
                        autoPanPadding: [100, 100]
                    }).addTo(map);


                    map.setView([element.lieu.latitude, element.lieu.longitude]);

                    marker.bindPopup(`<strong>${element.name}</strong><br>${element.lieu.ville.name}`);

                });
            });

    </script>

{% endblock %}
