{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% if app.user %}
        <h3>Date du jour : {{ 'now' | date('d/m/Y', 'Europe/Paris') }}</h3>




        <h3>Participant : {{ app.user.username }}</h3>

        {{ form_start(sortieForm) }}
        <div class="container d-flex">
            {{ form_label(sortieForm.campus) }}
            {{ form_widget(sortieForm.campus) }}

            {{ form_label(sortieForm.name) }}
            {{ form_widget(sortieForm.name) }}
        </div>
        <div class="container d-flex">

            {{ form_label(sortieForm.dateUn) }}
            {{ form_widget(sortieForm.dateUn) }}

            {{ form_label(sortieForm.dateDeux) }}
            {{ form_widget(sortieForm.dateDeux) }}
        </div>

        <div class="container d-flex flex-column">

            {{ form_label(sortieForm.scales) }}
            {{ form_widget(sortieForm.scales) }}

            {{ form_label(sortieForm.horns) }}
            {{ form_widget(sortieForm.horns) }}

            {{ form_label(sortieForm.horns_not_registered) }}
            {{ form_widget(sortieForm.horns_not_registered) }}

            {{ form_label(sortieForm.past_outings) }}
            {{ form_widget(sortieForm.past_outings) }}

            {{ form_row(sortieForm.userId) }}

        </div>
        <div class="container-fluid d-flex show justify-content-center">

            <input class="btn btn-lg btn-primary" type="submit" value="Rechercher">
        </div>


        {{ form_end(sortieForm) }}





        <div class="affichage sortie">
            <section class="container list">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Cloture</th>
                        <th scope="col">Inscrits / places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for sortie in sorties %}
                        <tr>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.name }}</td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.firstAirDate | date('d/m/y H:i') }}
                            </td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.dateLimiteInscription | date('d/m/y') }}
                            </td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.users | length }}
                                    / {{ sortie.nbInscriptionMax }}</td>
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.etat.libelle }}</td>
                            {% if app.user in sortie.users %}
                                <td><a class="list-group-item list-group-item-action"
                                       href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> x</td>
                            {% else %}
                                <td><a class="list-group-item list-group-item-action"
                                       href="{{ path('sortiev2_show', {'id': sortie.id}) }}"></td>
                            {% endif %}
                            <td><a class="list-group-item list-group-item-action"
                                   href="{{ path('sortiev2_show', {'id': sortie.id}) }}"> {{ sortie.user.username }}
                            </td>
                            <td>
                                {% if app.user in sortie.users %}
                                    {% if sortie.dateLimiteInscription >= date() or sortie.firstAirDate >= date() %}
                                        <a class="list-group-item-action"
                                           href="{{ path('inscription_user', {'id': sortie.id}) }}"> Se désinscrire </a>
                                    {% endif %}
                                {% else %}

                                    {% if sortie.etat.libelle == 'Ouverte' and sortie.dateLimiteInscription > date() and sortie.users | length < sortie.nbInscriptionMax %}

                                        <a class="list-group-item-action"
                                           href="{{ path('inscription_user', {'id': sortie.id}) }}"> S'inscrire </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </section>

        </div>
        <div class="container-fluid d-flex justify-content-center">
            <a class="link_button btn btn-outline-secondary" href="{{ path('sortie_create') }}" role="button">Créer une
                sortie</a>
        </div>



    {% else %}
        <div class="example-wrapper">
            <h1>Hello Icc c'est la page d'accueil avec plein de filtres !! </h1>
            <a class="link_button btn btn-outline-secondary" href="{{ path('app_login') }}" role="button">Connecte
                toi</a>
        </div>


    {% endif %}

{% endblock %}
