{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin | Campus {% endblock %}

{% block body %}

    <h1 class="container-fluid d-flex justify-content-center">Gestion des campus</h1>

    <section class="container list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for campu in campus %}

            <form action="{{ path('admin_campus_update', {'id': campu.id}) }}" method="post">

                <tr>
                    <th scope="row"><input type="text" name="name" value="{{ campu.name }}"></th>

                    <td>
                        <div class="list-group-item list-group-item-action">

                            <button type="submit">Modifier</button> -
                            <a  href="{{ path('admin_campus_delete', {'id': campu.id}) }}"
                               role="button" onclick="return confirm('Etes vous sûre de vouloir supprimer le campus {{ campu.name }}')">Supprimer</a>
                        </div>
                    </td>

                </tr>

            </form>

            {% endfor %}
            <tr>
                {{ form_start(campuForm) }}

                <th scope="row">{{ form_widget(campuForm) }}</th>
                <td>
                    <button type="submit">Ajouter</button>
                </td>

                {{ form_end(campuForm) }}
            </tr>

            </tbody>
        </table>
    </section>

{% endblock %}
