{% extends 'base.html.twig' %}

{% block title %}

    {{ parent () }} | Create
{% endblock %}

{% block body %}

    <section class="container list">
    <table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Date</th>
        <th scope="col">Cloture</th>
        <th scope="col">Inscrits / places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for sortie in sorties %}
        <tr>
            <td> {{ sortie.name }} </td>
            <td> {{ sortie.firstAirDate | date('d/m/y H:i') }} </td>
            <td> {{ sortie.dateLimiteInscription | date('d/m/y') }} </td>
            <td> {{ sortie.users | length }} / {{ sortie.nbInscriptionMax }} </td>
            <td> {{ sortie.etat.libelle }} </td>
            {% if app.user in sortie.users %}
                <td>  x  </td>
            {% else %}
                <td>   </td>
            {% endif %}
            <td> {{ sortie.user.username }} </td>
            <td>  </td>
        </tr>
    {% endfor %}

    </tbody>

{% endblock %}