{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Sortie{% endblock %}

{% block body %}

    <h1 class="container-fluid d-flex justify-content-center">Affiche la sortie</h1>

    <div class="container-fluid d-flex justify-content-center">
        <div class="card" style="padding: 1vw">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="container">
                        <div class="card-img-top" id="map"></div>
                    </div>
                </li>
                <br>
                <li class="list-group-item">
                    <p> <strong> Nom de la Sortie :</strong> {{ sortie.name }}</p>
                    <p> <strong>Date de Sortie : </strong> {{ sortie.firstAirDate | date('d/m/y') }} </p>
                    <p><strong> Date limite d'inscription : </strong> {{ sortie.dateLimiteInscription | date('d/m/y') }}</p>
                    <p> <strong>Participant : </strong> {{ sortie.users | length }}</p>
                    <p> <strong>Nombre de place :</strong> {{ sortie.nbInscriptionMax }}</p>
                    <p> <strong>Durée : </strong>{{ sortie.duree | date('H:i:s') }}</p>
                    <p> <strong>Description :</strong> {{ sortie.infosSortie }}</p>
                    <p> <strong>Etat : </strong>{{ sortie.etat.libelle }}</p>
                </li>
                <br>
                <li class="list-group-item">
                    <p> <strong> Campus :</strong> {{ sortie.campus.name }}</p>
                </li>
                <br>
                <li class="list-group-item">
                    <p> <strong> Lieu :</strong> {{ sortie.lieu.nom }}</p>
                    <p> <strong> Rue :</strong> {{ sortie.lieu.rue }}</p>
                    <p> <strong> Ville :</strong> {{ sortie.lieu.ville.name }}</p>
                </li>
            </ul>
            <br>
                    <div class="container-fluid d-flex justify-content-center" style="margin-top: 1vh">
                        {% if app.user in sortie.users %}
                            {% if sortie.dateLimiteInscription >= date() or sortie.firstAirDate >= date() %}
                                <a class="link_button btn btn-outline-danger"
                                   href="{{ path('inscription_user', {'id': sortie.id}) }}" role="button"> Se
                                    désinscrire </a>
                            {% endif %}
                        {% else %}
                            {% if sortie.etat.libelle == 'Ouverte' and sortie.dateLimiteInscription > date() and sortie.users | length < sortie.nbInscriptionMax %}
                                <a class="link_button btn btn-outline-success"
                                   href="{{ path('inscription_user', {'id': sortie.id}) }}" role="button"> S'inscrire </a>
                            {% endif %}
                        {% endif %}
                        {% if app.user == sortie.user or 'ROLE_ADMIN' in app.user.roles%}
                            {% if sortie.etat.id == 1 %}
                                <a class="link_button btn btn-outline-secondary"
                                   href="{{ path('sortie_update', {'id': sortie.id}) }}" role="button"> Modifier </a>
                            {% endif %}
                        {% endif %}
                    </div>
            <br>
            <div id="latitude" style="display: none">{{ sortie.lieu.latitude }}</div>
            <div id="longitude" style="display: none">{{ sortie.lieu.longitude }}</div>
        </div>
    </div>



    <div class="container-fluid d-flex justify-content-center" style="margin-top: 4vh">
        <section class="container list">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Nom de famille</th>
                </tr>
                </thead>
                <tbody>
                {% for user in sortie.users %}
                    <tr>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}"
                               class="list-group-item list-group-item-action">
                                {{ user.username }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}"
                               class="list-group-item list-group-item-action">
                                {{ user.lastname }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>


    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <script>
        let map = L.map('map', {dragging: true}).setView([47.2, 2.333], 6);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {

            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var lat = document.getElementById("latitude")
        var lon = document.getElementById("longitude")

        var name= document.getElementById('nameSortie')
        var ville= document.getElementById('ville')

        console.log(ville)

            marker = new  L.marker([lat.innerText,lon.innerText],{
                draggable: false,
                dragging:false,
                autoPan: true ,
                autoPanPadding: [100,100] }).addTo(map);


            map.setView([lat.innerText, lon.innerText], 13);
             marker.bindPopup(`<strong>{{sortie.name}}</strong><br>${ville.innerText}`);




    </script>







{% endblock %}