<nav class="navbar navbar-expand navbar-light bs-dark-bg-subtle">
    <div class="container">
        <a class="navbar-brand text-white" href="{{ path('main_home') }}"><i
                    class="fa fa-graduation-cap fa-lg mr-2"></i>Sortir !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                aria-controls="nvbCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <ul class="navbar-nav ml-auto">

                {% if app.user %}
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}"><i
                                    class="fa fa-user-plus fa-fw mr-1"></i>Mon profil</a>
                    </li>

                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_ADMIN'  %}


{#                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('admin_campus_list') }}">Gestion Campus</a>
                                    <a class="dropdown-item" href="{{ path('lieu_list') }}">Gestion Lieux</a>
                                    <a class="dropdown-item" href="{{ path('admin_user_list') }}">Gestion utilisateurs</a>
                                    <a class="dropdown-item" href="{{ path('admin_user_add') }}">Ajout d'un utilisateur</a>
#}{#                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Option 3</a>#}{#
                                </div>
                            </li>#}

                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{{ path('admin_campus_list') }}"><i class="fa fa-home fa-fw mr-1"></i>Gestion Campus</a>
                            </li>

                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{{ path('lieu_list') }}"><i class="fa fa-home fa-fw mr-1"></i>Gestion Lieux</a>
                            </li>

                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{{ path('admin_user_list') }}"><i class="fa fa-home fa-fw mr-1"></i>Gestion utilisateurs</a>
                            </li>

{#                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{{ path('admin_user_add') }}"><i class="fa fa-home fa-fw mr-1"></i>Ajout d'un utilisateur</a>
                            </li>#}
                        {% endif %}
                    {% endfor %}

                {% else %}


                    <li class="nav-item pl-1">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-info-circle fa-fw mr-1"></i>Login</a>
                    </li>

                {% endif %}

            </ul>
        </div>
        {% if app.user %}
            <li class=" navbar nav-item pl-1 text-white logout">
                <a class="nav-link" href="{{ path('app_logout') }}"><i
                            class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>Logout</a>
            </li>
        {% endif %}
    </div>
</nav>

